{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}New Post{% endblock title %}

{% block content %}
    <h2 class="blog-post-title mb-1">New Post</h2>
    <hr>
    <form action="" enctype="multipart/form-data" method="post">{% csrf_token %}
        <div class="row">
            <div class="col">
                {{ form | crispy }}
            </div>
            <hr class="my-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
        </div>
    </form>
{% endblock content %}
